ALTER Procedure [dbo].[Spu_Ban_Trae_DetallePresupuestoDetraIndividual]      
@Empresa char(2),                
@numeroPresupuesto varchar(5),                
@tasaRetencion decimal(10,2) = 3                
                
as                
Begin                
If  @numeroPresupuesto='00001'     
begin          
   select TOP 100 ROW_NUMBER() over(order by ban02codigo asc)  as Item, Ban02Codigo , Ban02Ruc,       
   dbo.ObtenerNombreCta(@Empresa,dpp.Ban02Ruc)  as RazonSocial,          
     isnull(tipodoc.FAC01DESC,'') as NombreTipoDocumento,   dpp.Ban02NroDoc, dpp.Ban02Moneda,           
     (case dpp.Ban02Moneda when 'S' then 'SOLES' ELSE 'DOLARES' END) AS NOMBREMONEDA,          
     --dpp.Ban02Soles, dpp.Ban02Dolares,           
     dpp.Ban02PagoSoles, dpp.Ban02PagoDolares,  dpp.Ban02TipoDetraccion, dpp.ban02Tasadetraccion          
     ,       
     (case dpp.Ban02Moneda  when 'S'       
     then  dpp.Ban02ImporteDetraccionSoles       
   else dpp.[Ban02ImporteDetraccionDolares] end) as 'ImporteDetraccion',      
     dpp.Ban02ImporteDetraccionSoles, dpp.[Ban02ImporteDetraccionDolares],          
               
              
     dpp.[Ban02TasaRetencion],  dpp.[Ban02ImporteRetencionSoles],           
     dpp.[Ban02ImporteRetencionDolares],          
     dpp.[Ban02TasaPercepcion],          
           
     dpp.[Ban02ImportePercepcionSoles],          
     dpp.[Ban02ImportePercepcionDolares],          
     --dpp.[Ban02NetoSoles],          
     --dpp.[Ban02NetoDolares]  ,        
     --dpp.Ban02FechaEmision,        
     --dpp.Ban02FechaVencimiento  , 
	 --dpp.Ban02TipoCambio  ,  
 comprobante.CO05IMPDOL as importecomprobantedolares,  
 comprobante.CO05IMPORT as importecomprobantesoles  
  
   From Ban02PresupuestoPagoDetalle dpp          
   left join FAC01_TIPDOC tipodoc          
   on dpp.Ban02Empresa = tipodoc.FAC01CODEMP          
   and dpp.Ban02Tipodoc = tipodoc.FAC01COD          
   inner join  co05docu comprobante  
   on comprobante.CO05CODEMP = dpp.Ban02Empresa  
   and comprobante.CO05CODCTE = dpp.Ban02Ruc  
   and comprobante.CO05NRODOC = dpp.Ban02NroDoc  
   and comprobante.CO05TIPDOC = dpp.Ban02Tipodoc  
     
     
   where Ban02Empresa = @Empresa           
   and Ban02Numero = @numeroPresupuesto               
  END    
  eLSE    
  bEGIN    
     select ROW_NUMBER() over(order by ban02codigo asc)  as Item, Ban02Codigo , Ban02Ruc,       
   dbo.ObtenerNombreCta(@Empresa,dpp.Ban02Ruc)  as RazonSocial,          
     isnull(tipodoc.FAC01DESC,'') as NombreTipoDocumento,   dpp.Ban02NroDoc, dpp.Ban02Moneda,           
     (case dpp.Ban02Moneda when 'S' then 'SOLES' ELSE 'DOLARES' END) AS NOMBREMONEDA,          
     --dpp.Ban02Soles, dpp.Ban02Dolares,           
     dpp.Ban02PagoSoles, dpp.Ban02PagoDolares,  dpp.Ban02TipoDetraccion, dpp.ban02Tasadetraccion          
     ,       
     (case dpp.Ban02Moneda  when 'S'       
     then  dpp.Ban02ImporteDetraccionSoles       
   else dpp.[Ban02ImporteDetraccionDolares] end) as 'ImporteDetraccion',      
     dpp.Ban02ImporteDetraccionSoles, dpp.[Ban02ImporteDetraccionDolares],          
               
              
     dpp.[Ban02TasaRetencion],  dpp.[Ban02ImporteRetencionSoles],           
     dpp.[Ban02ImporteRetencionDolares],          
     dpp.[Ban02TasaPercepcion],          
           
     dpp.[Ban02ImportePercepcionSoles],          
     dpp.[Ban02ImportePercepcionDolares],          
     --dpp.[Ban02NetoSoles],          
     --dpp.[Ban02NetoDolares]  ,        
     --dpp.Ban02FechaEmision,        
     --dpp.Ban02FechaVencimiento  , 
	 --dpp.Ban02TipoCambio  ,    
        comprobante.CO05IMPDOL as importecomprobantedolares,  
 comprobante.CO05IMPORT as importecomprobantesoles  
   From Ban02PresupuestoPagoDetalle dpp          
   left join FAC01_TIPDOC tipodoc          
   on dpp.Ban02Empresa = tipodoc.FAC01CODEMP          
   and dpp.Ban02Tipodoc = tipodoc.FAC01COD          
            inner join  co05docu comprobante  
   on comprobante.CO05CODEMP = dpp.Ban02Empresa  
   and comprobante.CO05CODCTE = dpp.Ban02Ruc  
   and comprobante.CO05NRODOC = dpp.Ban02NroDoc  
   and comprobante.CO05TIPDOC = dpp.Ban02Tipodoc  
   where Ban02Empresa = @Empresa           
   and Ban02Numero = @numeroPresupuesto      
  eND    
      
End