ALTER procedure [dbo].[Spu_Ban_Del_AsientoContable]      
  @codigoEmpresa varchar(2),      
  @anio char(4),      
  @mes char(2),      
  @numeroPresupuesto varchar(5)    
  --,@codLibro varchar(2),      
  --@numeroVoucher varchar(10),       
  as      
  Begin      
  --Begin transaction      
        
  declare @codLibro varchar(2)      
  declare @numeroVoucher varchar(10)      
  select @codLibro = Ban01VoucherLibroCod,      
  @numeroVoucher=Ban01VoucherNumero      
   from Ban01PresupuestoPago      
   where Ban01Empresa = @codigoEmpresa      
   and Ban01Numero = @numeroPresupuesto      
   and Ban01Anio = @anio      
   and Ban01Mes = @mes      
  --sp_help Ban01PresupuestoPago      
       
   delete  from ccc where ccc01emp = @codigoEmpresa      
  and ccc01ano = @anio      
  and ccc01mes = @mes      
  and ccc01subd = @codLibro      
  and ccc01numer = @numeroVoucher      
  if @@Error  <> 0       
  Begin      
  print 'Error al eliminar voucher cabecera'      
  --Goto ManejaError       
  End      
        
   delete from ccd where ccd01emp = @codigoEmpresa      
   and ccd01ano = @anio and ccd01mes = @mes      
  and ccd01numer = @numeroVoucher      
  if @@error<> 0       
  begin      
  print 'Error al eliminar voucher detalle'      
  --Goto ManejaError       
  end      
        
          
--==asignar en blanco el nuermo libro y voucher de presupuesto    
update Ban01PresupuestoPago      
set Ban01VoucherLibroCod = null,    
Ban01VoucherNumero = null    
   where Ban01Empresa = @codigoEmpresa      
   and Ban01Numero = @numeroPresupuesto      
   and Ban01Anio = @anio      
   and Ban01Mes = @mes      
   if @@error <> 0     
   begin    
  print 'Error al eliminar libro y voucher'    
 --Goto ManejaError    
   End    
   Else  
   Begin  
  print  'Eliminacion exitosa'  
   End  
       
       
  --set @flag = 1      
  --set @mensaje = 'Eliminacion exitosa'  
    
  --Commit transaction      
        
  --return 1      
  --ManejaError:      
  ----set @flag = 1        
  --Rollback transaction      
  --return -1      
  End 
