ALTER Procedure [dbo].[Spu_Ban_Ins_PresupuestoDetraMasiva]           
@Ban01Empresa varchar(2),                          
@Ban01Anio varchar(4),                            
@Ban01Mes varchar(2),                            
@Ban01Descripcion varchar(400),        
                    
@Ban01Fecha varchar(10),    -- se asignara la fecha desde el web frontend del metodo actualiza comprobante                      
@Ban01Estado varchar(2),      
@Ban01Usuario varchar(15),                            
@Ban01Pc varchar(20
),                            
@Ban01FechaRegistro varchar(10),                       
@Ban01MedioPago     char(2),              
@DetraccionLote  varchar(6),          
@Ban01motivopagoCod char(2), -- el 03 es pagoi detraccion Masivo        
-- Agregar los campos del pago           
--@fechapago VARCHAR(10),      -- formulario web  frontend parametro del metod actualiza comprobante      
@numerooperacion VARCHAR(10),      --formulario web frontend del metod actualiza comprobante      
@enlacepago VARCHAR(MAX),      --formulario web  frontend del metod actualiza comprobante      
@nombreArchivo VARCHAR(MAX),      -- formulario web frontend del metod actualiza comprobante      
@contenidoArchivo VARBINARY(MAX),      --formulario web frotend del metod actualiza comprobante      
@flagOperacion CHAR(1),      --formulario web frontend del metodo actualiza comprobante      
          
---------------------                            
@flag int output,            
@mensaje varchar(200) output,            
@codigoGenerado varchar(5) output            
--           
as                            
Begin transaction      
-- Genera correlativo del presipuesto          
declare @ultimoCodigo     varchar(5)          
select @ultimoCodigo = dbo.ObtenerCorrelativoFormateado(ISNULL(mAX(RIGHT(Ban01Numero,4)),0)+1) from Ban01PresupuestoPago                
Select @ultimoCodigo          
          
          
-- Insertar Cabecera                  
Insert into Ban01PresupuestoPago(Ban01Numero,Ban01Empresa,Ban01Anio,Ban01Mes,
      
Ban01motivopagoCod,Ban01Descripcion,Ban01Fecha,Ban01Estado,Ban01Usuario,Ban01Pc,Ban01FechaRegistro,          
Ban01MedioPago, Ban01DetraMasivaLote)          
 values (@ultimoCodigo, @Ban01Empresa, @Ban01Anio,@Ban01Mes, @Ban01motivopagoCod,        

 @Ban01Descripcion, @Ban01Fecha, @Ban01Estado, @Ban01Usuario, @Ban01Pc,               
 @Ban01Fecha, @Ban01MedioPago, @DetraccionLote )                 
              
    if @@ERROR <> 0      
    Begin      
  set @mensaje = 'Error al registrar cabecera detraccion'      
  Goto ManejaError      
    end      
          
-- Insertar Detalle           
Insert Into Ban02PresupuestoPagoDetalle(Ban02Empresa,Ban02Numero,Ban02Codigo,Ban02Ruc,Ban02Tipodoc,Ban02NroDoc          
,Ban02PagoSoles,Ban02PagoDolares  
        
,Ban02TipoDetraccion          
,Ban02TasaDetraccion          
,Ban02ImporteDetraccionSoles,Ban02ImporteDetraccionDolares,          
Ban02TasaRetencion,Ban02ImporteRetencionSoles,Ban02ImporteRetencionDolares,          
Ban02TasaPercepcion,Ban02ImportePercepcionSoles,Ban02ImportePercepcionDolares
--,Ban02NetoSoles,Ban02NetoDolares          
)          
          
          
Select @Ban01Empresa as 'empresa',@ultimoCodigo,      
RIGHT('00000' + CAST(ROW_NUMBER() OVER (ORDER BY (SELECT CO26NUMLOTE)) AS VARCHAR(5)), 5) as 'Correlativo',          
CO26RUC,CO26TIPDOC,CO26NRODOC,          
Convert(decimal(18,2),CO26IMPORTEDETRA),Convert(decimal(9,2),CO26IMPORTEDETRADOL),          
''as 'Detra_Tipo',          
0 as 'Detra_porcentaje',          
0
 as 'Detra_ImpSoles',          
0 as 'Detra_ImpDolares',          
--          
0 as 'RetencionTasa',          
0 as 'RetencionMontoSoles',          
0 as 'RetencionMontoDolares',          
0 as 'PercepcionTasa',          
0 as 'PercepcionSoles',         
 
0 as 'PercepcionDolares'
--,          
--Convert(decimal(9,2),CO26IMPORTEDETRA),          
--Convert(decimal(9,2),CO26IMPORTEDETRADOL)          
 From CO26PAGODETRACCION detra Inner Join CO05DOCU docu On          
detra.CO26CODEMP = docu.CO05CODEMP and        

detra.CO26RUC = docu.CO05CODCTE and           
detra.CO26TIPDOC = docu.CO05TIPDOC and           
detra.CO26NRODOC = docu.CO05NRODOC          
where           
Detra.CO26CODEMP=@Ban01Empresa and detra.CO26NUMLOTE=@DetraccionLote          
      
if @@ERROR  <> 0       
begin      
 set @mensaje = 'Error al registrar detalle detraccion'      
 Goto ManejaError      
end          
--Select *  from CO26PAGODETRACCION where CO26CODEMP='01' and CO26NUMLOTE='200710'          
      
declare @flagComprobante as 
int       
declare @mensajeComprobante as varchar(100)      
exec Spu_Ban_Upd_ComprobantePago @Ban01Empresa,@Ban01Anio,       
@Ban01Mes, @ultimoCodigo, @Ban01Fecha, @numerooperacion, @enlacepago,      
@nombreArchivo,@contenidoArchivo,@flagOperacion, @flagComprobante out , @mensajeComprobante out      
      
      
set @flag = 1      
set @mensaje = 'El Pago detraccion se registro exitosamente'      
commit transaction      
return 1      
ManejaError:      
set @flag = -1      
set @mensaje = 'Error al
 registrar pago de detraccion'      
rollback transaction
return -1

