ALTER Procedure [dbo].[Spu_Ban_Ins_PresupuestoRetencionMensual]
@Ban01Empresa varchar(2),                          
@Ban01Anio varchar(4),                            
@Ban01Mes varchar(2),                            
@Ban01Descripcion varchar(400),        
                    
@Ban01Fecha varchar(10),    -- se asignara la fecha desde el web frontend del metodo actualiza comprobante                      
@Ban01Estado varchar(2),      
@Ban01Usuario varchar(15),                            
@Ban01Pc varchar(20
),                            
@Ban01FechaRegistro varchar(10),                       
@Ban01MedioPago     char(2),              
@RetencionMensualNro  varchar(6),          -- es el año + mes 
@Ban01motivopagoCod char(2), -- el 03 es pagoi detraccion Masivo        
-- Agregar los campos del pago           
--@fechapago VARCHAR(10),      -- formulario web  frontend parametro del metod actualiza comprobante      
@numerooperacion VARCHAR(10),      --formulario web frontend del metod actualiza comprobante      
@enlacepago VARCHAR(MAX),      --formulario web  frontend del metod actualiza comprobante      
@nombreArchivo VARCHAR(MAX),      -- formulario web frontend del metod actualiza comprobante      
@contenidoArchivo VARBINARY(MAX),      --formulario web frotend del metod actualiza comprobante      
@flagOperacion CHAR(1),      --formulario web frontend del metodo actualiza comprobante      
          
---------------------                            
@flag int output,            
@mensaje varchar(200) output,            
@codigoGenerado varchar(5) output            
--           
as                            
Begin transaction      
-- Genera correlativo del presipuesto          
declare @ultimoCodigo     varchar(5)          
select @ultimoCodigo = dbo.ObtenerCorrelativoFormateado(ISNULL(mAX(RIGHT(Ban01Numero,4)),0)+1) from Ban01PresupuestoPago                
Select @ultimoCodigo          
          
          
-- Insertar Cabecera                  
Insert into Ban01PresupuestoPago(Ban01Numero,Ban01Empresa,Ban01Anio,Ban01Mes,Ban01motivopagoCod,Ban01Descripcion,Ban01Fecha,
Ban01Estado,Ban01Usuario,Ban01Pc,Ban01FechaRegistro,Ban01MedioPago, Ban01DetraMasivaLote)

Values (@ultimoCodigo, @Ban01Empresa, @Ban01Anio,@Ban01Mes, @Ban01motivopagoCod,
 @Ban01Descripcion, @Ban01Fecha, @Ban01Estado, @Ban01Usuario, @Ban01Pc,               
 @Ban01Fecha, @Ban01MedioPago, @RetencionMensualNro ) 
              
    if @@ERROR <> 0      
    Begin      
  set @mensaje = 'Error al registrar cabecera detraccion'      
  Goto ManejaError      
    end      
          
-- Insertar Detalle         

Declare @ruc varchar(20)                          
Set @ruc=''                          
Select @ruc=isnull(Ruc,'') from Empresa where Codigo=@Ban01Empresa and Sistema='CONTABILID'              
--Select @ruc        Select * from Empresa     
  

Insert Into Ban02PresupuestoPagoDetalle(Ban02Empresa,Ban02Numero,Ban02Codigo,Ban02Ruc,Ban02Tipodoc,Ban02NroDoc          
,Ban02PagoSoles
,Ban02PagoDolares  
,Ban02TipoDetraccion          
,Ban02TasaDetraccion          
,Ban02ImporteDetraccionSoles,Ban02ImporteDetraccionDolares,          
Ban02TasaRetencion,Ban02ImporteRetencionSoles,Ban02ImporteRetencionDolares,          
Ban02TasaPercepcion,Ban02ImportePercepcionSoles,Ban02ImportePercepcionDolares
--,Ban02NetoSoles,Ban02NetoDolares          
)          
          
Select    
 rc.Ban01Empresa as 'empresa',@ultimoCodigo,
RIGHT('00000' + CAST(ROW_NUMBER() OVER (ORDER BY (SELECT rd.Ban01Id)) AS VARCHAR(5)), 5) as 'Correlativo',          
   rd.Ban01Ruc  as 'ProveedorRuc',  -- NRO DOC IDENTIDAD             
   rd.Ban01Tipo as 'DocTipo',           
   rd.Ban01NroDoc as 'DocNro',
   isnull(rd.Ban01Retenido,0),
isnull(rd.Ban01RetenidoDolares,0),
'' as 'Detra_Tipo',          
0 as 'Detra_porcentaje',          
0
 as 'Detra_ImpSoles',          
0 as 'Detra_ImpDolares',          
--          
0 as 'RetencionTasa',          
0 as 'RetencionMontoSoles',          
0 as 'RetencionMontoDolares',          
0 as 'PercepcionTasa',          
0 as 'PercepcionSoles',         
 
0 as 'PercepcionDolares'
--,          
--isnull(rd.Ban01Retenido,0),
--isnull(rd.Ban01RetenidoDolares,0)
From Ban01RetencionCab   rc               
Inner Join Ban01RetencionDet rd on               
rc.Ban01Empresa = rd.Ban01Empresa               
And rc.Ban01Numero = rd.Ban01Numero              
Left join co05docu docu on               
rd.Ban01Ruc = docu.CO05CODCTE              
And rd.Ban01Tipo = docu.CO05TIPDOC              
And rd.Ban01NroDoc = docu.CO05NRODOC              
Left Join V_RetencionesTotal vr On                               
rc.Ban01Empresa = vr.Ban01Empresa                              
And rc.Ban01Numero = vr.Ban01Numero                            
-- === Cabecera retencion                           
Left Join [BIZLINKS_PROD21].dbo.SPE_RETENTION r On                          
    r.tipoDocumentoEmisor='6'                          
And r.numeroDocumentoEmisor=@ruc                          
And r.tipoDocumento='20'                          
And rc.Ban01Numero = r.serieNumeroRetencion                          
-- === Response retencion                          
Left Join [BIZLINKS_PROD21].dbo.VW_SPE_RETENTION_RESPONSE vrr on                          
    vrr.tipoDocumentoEmisor='6'                          
And vrr.numeroDocumentoEmisor=@ruc                          
And vrr.tipoDocumento='20'                          
And rc.Ban01Numero = vrr.serieNumeroRetencion                          
Left Join [BIZLINKS_PROD21].dbo.SPE_CANCELDETAIL_CRE_CPE  rdb on                                 
 rc.Ban01Numero = rdb.serieDocumentoRevertido + '-' + rdb.correlativoDocRevertido                          
 And rdb.tipoDocumentoRevertido ='20'                          
Left Join [BIZLINKS_PROD21].dbo.SPE_CANCELHEADER_CRE_CPE  rcb on                                 
     rcb.tipoDocumentoEmisor =rdb.tipoDocumentoEmisor                          
 And rcb.numeroRucEmisor =rdb.numeroRucEmisor                          
 And rcb.serieNumeroReversion = rdb.serieNumeroReversion                          
Where                                  
rc.Ban01Empresa=@Ban01Empresa
And (rc.Ban01Anio + rc.Ban01Mes)= (@Ban01Anio + @Ban01Mes)
Order by rc.Ban01Numero              
          
      
if @@ERROR  <> 0       
begin      
 set @mensaje = 'Error al registrar detalle Retencion'      
 Goto ManejaError      
end          
--Select *  from CO26PAGODETRACCION where CO26CODEMP='01' and CO26NUMLOTE='200710'          
      
declare @flagComprobante as int       
declare @mensajeComprobante as varchar(100)      

Exec Spu_Ban_Upd_ComprobantePago @Ban01Empresa,@Ban01Anio,       
@Ban01Mes, @ultimoCodigo, @Ban01Fecha, @numerooperacion, @enlacepago,      
@nombreArchivo,@contenidoArchivo,@flagOperacion, @flagComprobante out , @mensajeComprobante out      
      
      
set @flag = 1      
set @mensaje = 'El Pago Retencion se registro exitosamente'      
commit transaction      
return 1      
ManejaError:      
set @flag = -1      
set @mensaje = 'Error al registrar pago de Retencion'      
rollback transaction
return -1

