ALTER Procedure [dbo].[Spu_Ban_Ins_PresupuestoDetraUnitaria]      
@Ban01Empresa varchar(2),                          
@Ban01Anio varchar(4),                            
@Ban01Mes varchar(2),                            
@Ban01Descripcion varchar(400),                            
@Ban01Fecha varchar(10),                            
@Ban01Estado varchar(2),                            
@Ban01Usuario varchar(15),                            
@Ban01Pc varchar(20),                            
@Ban01FechaRegistro varchar(10),                       
@Ban01MedioPago     char(2),              
--    
@Ban01motivopagoCod char(2), -- el 02 es pagar detraccion individual      
-- Datos del detalle    
@Ban02Ruc  varchar(20),    
@Ban02Tipodoc char(2),    
@Ban02NroDoc varchar(50),    
@Ban02TipoDetraccion varchar(2),          
@Ban02TasaDetraccion decimal(9,2),        
@Ban02ImporteDetraccionSoles decimal(9,2),    
@Ban02ImporteDetraccionDolares decimal(9,2),          
-- Falta Agregar Datos del pago    
@numerooperacion VARCHAR(10),      --formulario web frontend del metod actualiza comprobante        
@enlacepago VARCHAR(MAX),      --formulario web  frontend del metod actualiza comprobante        
@nombreArchivo VARCHAR(MAX),      -- formulario web frontend del metod actualiza comprobante        
@contenidoArchivo VARBINARY(MAX),      --formulario web frotend del metod actualiza comprobante        
@flagOperacion CHAR(1),   
    
@flag int output,            
@mensaje varchar(200) output,            
@codigoGenerado varchar(5) output            
--           
as                      
Begin  
begin transaction  
-- Genera correlativo del presipuesto          
declare @ultimoCodigo     varchar(5)          
select @ultimoCodigo = dbo.ObtenerCorrelativoFormateado(ISNULL(mAX(RIGHT(Ban01Numero,4)),0)+1) from Ban01PresupuestoPago     
where   Ban01Empresa=@Ban01Empresa    
    
Select @ultimoCodigo          
          
          
-- Insertar Cabecera                  
Insert into Ban01PresupuestoPago(Ban01Numero,Ban01Empresa,Ban01Anio,Ban01Mes,Ban01motivopagoCod,  
Ban01Descripcion,Ban01Fecha,Ban01Estado,Ban01Usuario,  
Ban01Pc,Ban01FechaRegistro,          
Ban01MedioPago)          
 values (@ultimoCodigo, @Ban01Empresa, @Ban01Anio,  
 @Ban01Mes, @Ban01motivopagoCod,        
 @Ban01Descripcion, @Ban01Fecha, @Ban01Estado, @Ban01Usuario, @Ban01Pc,               
 @Ban01Fecha, @Ban01MedioPago)                 
  
 If @@ERROR <> 0   
 Begin  
 set @mensaje = 'Erro al registrar cabecera presupuesto'  
 Goto ManejaError  
 End  
  
          
          
-- Insertar Detalle           
Insert Into Ban02PresupuestoPagoDetalle(Ban02Empresa,Ban02Numero,Ban02Codigo,    
Ban02Ruc,Ban02Tipodoc,Ban02NroDoc          
,Ban02PagoSoles,Ban02PagoDolares          
,Ban02TipoDetraccion          
,Ban02TasaDetraccion          
,Ban02ImporteDetraccionSoles,Ban02ImporteDetraccionDolares
--,Ban02NetoSoles,Ban02NetoDolares          
)          
          
Values(@Ban01Empresa,@ultimoCodigo,'00001',    
@Ban02Ruc,@Ban02Tipodoc,@Ban02NroDoc    
,@Ban02ImporteDetraccionSoles,@Ban02ImporteDetraccionDolares    
,@Ban02TipoDetraccion          
,@Ban02TasaDetraccion          
,@Ban02ImporteDetraccionSoles,@Ban02ImporteDetraccionDolares    
--,@Ban02ImporteDetraccionSoles,@Ban02ImporteDetraccionDolares    
)    
  
 if @@ERROR <> 0   
 begin  
  set @mensaje = 'Error al registrar detalle prespuesto'  
  Goto ManejaError  
 end  
    
declare @flagComprobante as int         
declare @mensajeComprobante as varchar(100)        
exec Spu_Ban_Upd_ComprobantePago @Ban01Empresa,@Ban01Anio,         
@Ban01Mes, @ultimoCodigo, @Ban01Fecha, @numerooperacion, @enlacepago,        
@nombreArchivo,@contenidoArchivo,@flagOperacion, @flagComprobante out , @mensajeComprobante out     
  
set @flag = 1  
set @mensaje = 'El pago detraccion individual se registro exitosamente'  
commit transaction  
return 1  
ManejaError:  
set @flag = 1  
set @mensaje = 'Error al registrar detraccion individual'  
  
rollback transaction  
return -1  
  
End
